@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html{
    font-family: 'Silkscreen', cursive;
    background-color: #25342F;
}
h1{
    transform: perspective(120px) rotateX(25deg);
    font-size: 3rem;
}
h1, h2, h3, h4{
    max-width: 360px;
    margin: 10px auto;
    color: #B9ED5E;
    text-align: center;
}
#game-container{
    height: 540px;
    width: 360px;
    position: relative;
    margin: 2% auto;
    background-color: #97DBD2;
    border: 1px solid #F4F1DE;
    z-index: -1;
    overflow-x: hidden;
}
.high-score>p{
    width: 360px;
    position: relative;
    margin: 1% auto;
    color: #B9ED5E;
    text-align: center;
    font-size: 2rem;
}
footer{
    margin: 5% auto;
}
footer>a{
    display: block;
    text-align: center;
    color: #435B29;
    text-decoration: underline;
    margin: 0.5% auto;
}
#game-container>h2, #game-container>h3, #game-container>h4{
    max-width: 360px;
    margin: 10% auto;
    color: white;
    text-align: center;
}
button{
    max-width: 360px;
    display: flex;
    justify-content: center;
    margin: 2.5% auto;
    text-align: center;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    font-family: inherit;
    font-size: 2rem;
    color: #B9ED5E;
}
button:hover{
    color: #118337;
}